<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="LaunchVault" Language="1033" Version="0.1.0" Manufacturer="kik4311" UpgradeCode="12345678-1234-1234-1234-123456789012">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of LaunchVault is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="LaunchVault" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="LaunchVault" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="APPLICATIONMENU" Name="LaunchVault" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="LaunchVaultExe" Guid="*">
        <File Id="LaunchVaultExe" Source="target/release/launchvault.exe" KeyPath="yes" />
        <Shortcut Id="StartMenuShortcut" Directory="APPLICATIONMENU" Name="LaunchVault" Target="[INSTALLFOLDER]launchvault.exe" WorkingDirectory="INSTALLFOLDER" />
        <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="LaunchVault" Target="[INSTALLFOLDER]launchvault.exe" WorkingDirectory="INSTALLFOLDER" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>